SAbDab-master/
old_keyword_files/
.DS_Store
__pycache__/
keywords/__pycache__
keywords/.pytest_cache
keywords/tests/__pycache__
.vscode
paperscraper/.ipynb_checkpoints/
paperscraper/check_coverage.ipynb
paperscraper/testfile.ipynb
data/biorxiv_all*.jsonl
auto_db_pipeline/temp.ipynb

