SAbDab-master/
old_keyword_files/

**/.DS_Store
**/__pycache__/
**/temp*.ipynb


keywords/.pytest_cache
keywords/tests/__pycache__
.vscode
genbank/old_notebooks
genbank/__pycache__
genbank/elink.dtd
**/.vscode
data/biorxiv_all*.jsonl
*.ent
data/patents/patent_search_results_*.json
