SAbDab-master/
old_keyword_files/

**/.DS_Store
**/__pycache__/
**/temp*.ipynb


keywords/.pytest_cache
keywords/tests/__pycache__
.vscode
genbank/old_notebooks
genbank/__pycache__
genbank/elink.dtd
**/.vscode
paperscraper/.ipynb_checkpoints/
paperscraper/check_coverage.ipynb
paperscraper/testfile.ipynb
**/biorxiv_all*.jsonl
*.ent
*.cif
genbank/data/protein_handles2.json
